<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns:th="https://www.thymeleaf.org"
      lang="en"
>
<head>
  <title>Claims</title>
</head>
<body>
<div layout:fragment="content">
  <fieldset>
    <legend>All Claims</legend>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Submitted By</th>
        <th scope="col">Description</th>
        <th scope="col">Workflow Status</th>
        <th scope="col">Claim Status</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="claim: ${claims}">
        <th th:text="${claim.id}" scope="row"/>
        <td th:text="${claim.name}"/>
        <td th:text="${claim.description}"/>
        <td th:text="${claim.workflowStatusText}"/>
        <td>
          <span th:text="${claim.status}"/>
          <form th:if="${claim.pendingHumanReview}" th:action="@{'/review/' + ${claim.id}}"
                method="POST" class="shadow p-2 bg-body-tertiary rounded">
            <p th:text="${claim.estimate}"/>
            <div>
              <button type="submit" name="status" value="APPROVED" class="btn btn-success">Approve
              </button>
              <button type="submit" name="status" value="DENIED" class="btn btn-danger">Deny
              </button>
            </div>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </fieldset>
  <hr>
  <fieldset>
    <legend>New Claim</legend>
    <form action="#" th:action="@{/submit}" th:object="${claimInput}" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" class="form-control" th:field="*{name}" required="required">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" th:field="*{description}" rows="3"
                  required="required"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </fieldset>
</div>
</body>
</html>